In [2]:
import selenium

In [3]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [4]:
import pandas as pd

In [4]:
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")

Q1. Write a python program to scrape data for "Data Analyst" Job position in "Bangalore" location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. Website - "https://naukri.com/"

In [5]:
driver.get("https://www.naukri.com/")

In [6]:
skills=driver.find_element_by_id("qsb-keyword-sugg")
skills.send_keys("Data Analyst")
loc=driver.find_element_by_id("qsb-location-sugg")
loc.send_keys("Bangalore")
button=driver.find_element_by_class_name("btn")
button.click()

In [7]:
driver.get(driver.current_url)

In [8]:
jobs=driver.find_elements_by_class_name("jobTuple.bgWhite.br4.mb-8")

In [9]:
data=[]
for i in range (0,10):
    job_title=jobs[i].find_element_by_class_name("title.fw500.ellipsis").text
    job_location=jobs[i].find_element_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]").text
    company=jobs[i].find_element_by_xpath("//a[@class='subTitle ellipsis fleft']").text
    exp=jobs[i].find_element_by_xpath("//span[@class='ellipsis fleft fs12 lh16 expwdth']").text
    data.append(
    {
        'Job Title': job_title,
        'Job Location':job_location,
        'Company':company,
        'Experience Required':exp
    })
df=pd.DataFrame(data)
df

,Job Title,Job Location,Company,Experience Required
0,Business Data Analyst - Google Data Studio & SQL,Bangalore/Bengaluru,AVE-Promagne,8-12 Yrs
1,Executive Data Analyst,Bangalore/Bengaluru,AVE-Promagne,8-12 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,AVE-Promagne,8-12 Yrs
3,Data Analyst - I/II,Bangalore/Bengaluru,AVE-Promagne,8-12 Yrs
4,Data Analyst,Bangalore/Bengaluru,AVE-Promagne,8-12 Yrs
5,Hiring For the role - DATA Analyst (Flipkart),Bangalore/Bengaluru,AVE-Promagne,8-12 Yrs
6,Hiring For the role - DATA Analyst (Flipkart),Bangalore/Bengaluru,AVE-Promagne,8-12 Yrs
7,Business Data Analyst - MIS & Reporting,Bangalore/Bengaluru,AVE-Promagne,8-12 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,AVE-Promagne,8-12 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru,AVE-Promagne,8-12 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

In [10]:
driver.close()
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")
driver.get("https://www.naukri.com/")
skills=driver.find_element_by_id("qsb-keyword-sugg")
skills.send_keys("Data Scientist")
loc=driver.find_element_by_id("qsb-location-sugg")
loc.send_keys("Bangalore")
button=driver.find_element_by_class_name("btn")
button.click()
driver.get(driver.current_url)
jobs=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
com=[]
location_s=[]
for company in companies:
    com.append(company.text)
for location in locations:
    location_s.append(location.text)
urls=[]
job_title=[]
job_desc=[]
for job in jobs:
    urls.append(job.get_attribute('href'))
    job_title.append(job.get_attribute('title'))
for url in urls:
    driver.get(url)
    try:
        job_desc.append(driver.find_element_by_xpath("//div[@class='detail dang-inner-html']").text.replace("\n"," "))
    except:
        job_desc.append(driver.find_element_by_xpath("//div[@class='clearboth description']").text.replace("\n"," "))
data=[]
for i in range(0,10):
    data.append(
    {
        'Job Title':job_title[i],
        'Company':com[i],
        'Location':location_s[i],
        'Job Description':job_desc[i]
    })
df=pd.DataFrame(data)
df

,Job Title,Company,Location,Job Description
0,Lead Data Scientist BFSI,IBM India Pvt. Limited,Bengaluru/Bangalore,Introduction Software Developers at IBM are th...
1,Associate Data Scientist,Philips India Limited,Bangalore/Bengaluru,We are a leading health technology company foc...
2,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bengaluru/Bangalore,"Introduction As a Data Scientist at IBM, you w..."
3,SENIOR DATA SCIENTIST,Happiest Minds Technologies Pvt.Ltd,Bangalore/Bengaluru,Happiest Minds is a next generation digital tr...
4,Data Scientist (Python & SQL),AVE-Promagne,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",AVE-Promagne is a new age consulting and servi...
5,Sr Data Scientist,IBM India Pvt. Limited,Bengaluru/Bangalore,"Introduction As a Data Scientist at IBM, you w..."
6,Sr Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,"As a Data Scientist at IBM, you will help tran..."
7,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd
8,Freelance Data Scientist Project Based,Shikvix,Remote,Shikvix is a Technology Company based in Trumb...
9,Data Scientist,VRIZE,Bangalore/Bengaluru,VRIZE is a start-up that started a little more...

Question 3

In [13]:
driver.close()
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")
driver.get("https://www.naukri.com/")
skills=driver.find_element_by_id("qsb-keyword-sugg")
skills.send_keys("Data Scientist")
button=driver.find_element_by_class_name("btn")
button.click()
driver.get(driver.current_url)
filters=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
filters.click()
WebDriverWait(driver,60)
driver.get(driver.current_url)
try:
    filters=driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
    filters.click()
    driver.get(current_url)
except:
    driver.get("https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityTypeGid=9508&ctcFilter=3to6")
jt=[]
comp=[]
loc=[]
ex=[]
job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for job in job_title:
    jt.append(job.text)
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for c in companies:
    comp.append(c.text)
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for l in location:
    loc.append(l.text)
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in exp:
    ex.append(i.text)
data={
    'Job Title':jt,'Company':comp,'Location':loc,'Experience':ex
}
df=pd.DataFrame(data)
df.head(10)

,Job Title,Company,Location,Experience
0,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Noida, Gurgaon/Gurugram, Delhi / NCR",0-0 Yrs
1,Data Scientist / Data Analyst,CARS24,Gurgaon/Gurugram,1-5 Yrs
2,Data Analyst/Data Scientist,Skillenable Fintech Private Limited,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",2-5 Yrs
3,Data Scientist,PROCESS NINE TECHNOLOGIES PVT.LTD.,Gurgaon/Gurugram,1-3 Yrs
4,Data Scientist/ Machine Learning Engineer,Creative Hands HR Consultancy,"Mohali/SAS Nagar, Hyderabad/Secunderabad, Ahme...",0-0 Yrs
5,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,"Noida, New Delhi, Gurgaon/Gurugram",0-0 Yrs
6,Data Scientist,R Systems International Ltd.,Noida,3-6 Yrs
7,Data Scientist - WFH - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NC...",3-7 Yrs
8,Data Scientist,Kusum Healthcare Pvt. Ltd.,Delhi / NCR(Okhla),4-6 Yrs
9,Data Scientist - Machine Learning/ NLP,TalPro,Gurgaon/Gurugram,2-6 Yrs

Question 4

In [97]:
driver.close()
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")
driver.get("https://www.glassdoor.co.in/member/home/index.htm")
while(driver.current_url=="https://www.glassdoor.co.in/profile/login_input.htm"):
    username=driver.find_element_by_xpath("//input[@name='username']")
    username.send_keys('simransaddo@gmail.com')
    password=driver.find_element_by_xpath("//input[@name='password']")
    password.send_keys("Sehmat123@")
    btn=driver.find_element_by_xpath("//button[@type='submit']")
    btn.click()
    WebDriverWait(driver,30)
    driver.get(driver.current_url)
skills=driver.find_element_by_xpath("//input[@id='sc.keyword']")
skills.send_keys('Data Scientist')
loc=driver.find_element_by_xpath("//input[@id='sc.location']")
loc.send_keys("Noida (India)")
submitbtn=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto search__SearchStyles__newSearchButton css-1dqvyh7']")
submitbtn.click()
driver.get(driver.current_url)
WebDriverWait(driver,30)
driver.get(driver.current_url)
# Finding the element for Company Name using xpath
company_name = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']//a")

# We will run a loop to iterate all the Company Name tags extracted above and extract the text inside them
Company_Name = []
for i in company_name:
    Company_Name.append(i.text)
    
# Finding the element for Job Posted using xpath
job_posted = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")

# We will run a loop to iterate all the Job Posted tags extracted above and extract the text inside them
Job_Posted = []
for i in job_posted:
    Job_Posted.append(i.text)

# Finding the element for different Job url using xpath
rating_url = driver.find_elements_by_xpath("//a[@class='job-search-key-l2wjgv e1n63ojh0 jobLink']")

# We will run a loop to iterate all the url links extracted above and extract the href inside them
Rating_Url = []
for i in rating_url:
    Rating_Url.append(i.get_attribute("href"))

Ratings = []
for i in Rating_Url:
    driver.get(i)
    # Extracting Rating using xpath
    try:
        ratings = driver.find_element_by_xpath("//span[@class='css-1pmc6te e11nt52q4']")
        # We will run a loop to iterate all the ratings tags extracted above and extract the text inside them
        Ratings.append(ratings.text.replace("\n"," "))
    except:
        Ratings.append("--")

Question 5

In [48]:
driver.close()
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")
skills=driver.find_element_by_xpath("//input[@name='sc.keyword']")
skills.send_keys('Data Scientist')
location=driver.find_element_by_xpath("//input[@id='LocationSearch']")
location.send_keys("Noida (India)")
submitbtn=driver.find_element_by_xpath("//button[@type='submit']")
submitbtn.click()
driver.get('https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn')
companies=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
company=[]
for i in companies:
    company.append(i.text)
average_sals=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']/h3[@class='m-0 css-g261rn']")
sals=[]
for sal in average_sals:
    sals.append(sal.text)
no_of_sals=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']/span[@class='m-0 css-1b6bxoo']")
nos=[]
for i in no_of_sals:
    nos.append(i.text)
min_sals=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']//p[1]")
sal_min=[]
for i in min_sals:
    sal_min.append(i.text)
max_sals=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']//p[2]")
sal_max=[]
for i in max_sals:
    sal_max.append(i.text)
ratings=driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")
Ratings=[]
for i in ratings:
    Ratings.append(i.text)
data={'Companies':company,'No of Salaries':nos,'Average_Salaries':sals,'Minimum Salary':sal_min,'Maximum Salary':sal_max,'Ratings':Ratings}
df=pd.DataFrame(data)
df

,Companies,No of Salaries,Average_Salaries,Minimum Salary,Maximum Salary,Ratings
0,Tata Consultancy Services,22 salaries,"₹6,28,021",₹4L,₹13L,3.9
1,IBM,20 salaries,"₹9,08,246",₹1L,₹28L,3.9
2,Accenture,15 salaries,"₹11,93,390",₹6L,₹23L,4.1
3,Delhivery,15 salaries,"₹12,49,716",₹5L,₹1Cr,3.7
4,Ericsson-Worldwide,14 salaries,"₹7,58,335",₹4L,₹17L,4
5,UnitedHealth Group,14 salaries,"₹12,80,000",₹8L,₹16L,3.7
6,Optum,11 salaries,"₹12,70,000",₹8L,₹20L,3.7
7,Optum Global Solutions,10 salaries,"₹14,55,430",₹10L,₹18L,3.9
8,Valiance Solutions,10 salaries,"₹8,86,064",₹5L,₹15L,4.2
9,EXL Service,9 salaries,"₹11,10,000",₹6L,₹16L,3.6
10,Cognizant Technology Solutions,8 salaries,"₹9,62,227",₹4L,₹13L,3.8
11,ZS Associates,8 salaries,"₹11,71,868",₹2L,₹19L,4
12,Nagarro,8 salaries,"₹11,01,815",₹4L,₹21L,4
13,Innovaccer,8 salaries,"₹12,40,275",₹6L,₹17L,3.8
14,OYO,7 salaries,"₹14,51,902",₹10L,₹21L,3.3
15,dunnhumby,7 salaries,"₹11,30,374",₹8L,₹21L,4
16,Amazon,6 salaries,"₹20,63,782",₹10L,₹30L,3.8
17,Fresher,6 salaries,"₹61,566",₹25T,₹1L,4.1
18,CARS24.com,6 salaries,"₹10,80,727",₹9L,₹15L,4.1
19,Vidooly Media Tech,6 salaries,"₹35,040",₹12T,₹64T,3.8

Question 6

In [56]:
driver.close()
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")
driver.get("https://www.flipkart.com")
search_value=driver.find_element_by_xpath("//input[@type='text']")
search_value.send_keys("Sunglasses")
search_btn=driver.find_element_by_xpath("//button[@type='submit']")
search_btn.click()
driver.get(driver.current_url)
Brand = []
for i in range(1,4):
    try:
        brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        # We will run a loop to iterate all the Brand tags extracted above and extract the text inside them
        for i in brand:
            Brand.append(i.text)
    except:
        Brand.append("--")
# Finding the element for Product Description using xpath
Prod_Desc = []
for i in range(1,4):
    try:
        prod_desc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
        # We will run a loop to iterate all the Product Description tags extracted above and extract the text inside them
        for i in prod_desc:
            Prod_Desc.append(i.text)
    except:
        Prod_Desc.append("--")

# Finding the element for Price using xpath
Price = []
for i in range(1,4):
    try:
        price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        # We will run a loop to iterate all the Price tags extracted above and extract the text inside them
        for i in price:
            Price.append(i.text)
    except:
        Price.append("--")

# Finding the element for Discount using xpath 
Discount = []
for i in range(1,4):
    try:
        discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
        # We will run a loop to iterate all the Discount tags extracted above and extract the text inside them
        for i in discount:
            Discount.append(i.text)
    except:
        Discount.append("--")
data={'Brand':Brand[0:100],'Description':Prod_Desc[0:100],'Price':Price[0:100],'Discount':Discount[0:100]}
df=pd.DataFrame(data)
df

,Brand,Description,Price,Discount
0,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹331,79% off
1,PIRASO,UV Protection Wayfarer Sunglasses (32),₹237,85% off
2,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
3,Fastrack,UV Protection Wayfarer Sunglasses (56),₹369,58% off
4,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹284,89% off
...,...,...,...,...
95,PIRASO,UV Protection Aviator Sunglasses (54),₹399,86% off
96,Fastrack,UV Protection Aviator Sunglasses (58),₹520,34% off
97,SHAAH COLLECTIONS,UV Protection Rectangular Sunglasses (58),₹215,78% off
98,SUNBEE,UV Protection Wayfarer Sunglasses (Free Size),₹265,73% off
99,AISLIN,"UV Protection, Riding Glasses Rectangular Sung...",₹525,65% off

Question 7

In [64]:
driver.close()
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")
pages=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
Ratings=[]
Rev_Sum=[]
Full_Review=[]
page_url=[]
cnt=0
for i in pages:
    page_url.append(i.get_attribute('href'))
for i in page_url:
    if(cnt<=12):
        driver.get(i)
        try:
            rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
            for i in rating:
                Rating.append(i.text)
        except:
            Rating.append("--")
        try:
            rev_sum = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
            for i in rev_sum:
                Rev_Sum.append(i.text)
        except:
            Rev_Sum.append("--")
        try:
            full_review = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
            for i in full_review:
                Full_Review.append(i.text.replace("\n",""))
        except:
            Full_Review.append("--")
data={'Ratings':Rating[0:100],'Review Summary':Rev_Sum[0:100],'Full Review':Full_Review[0:100]}
df=pd.DataFrame(data)
df

,Ratings,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Just wow!,The ultimate performanceCamera is superbThe ba...
96,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely goodAs far as camera A...
98,5,Decent product,Everything u ll like it when u use this iPhone...
99,5,Awesome,Can’t beat the software and hardware integrati...

Question 8

In [66]:
driver.close()
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")
driver.get("https://www.flipkart.com")
search_value=driver.find_element_by_xpath("//input[@type='text']")
search_value.send_keys("Sneakers")
search_btn=driver.find_element_by_xpath("//button[@type='submit']")
search_btn.click()
driver.get(driver.current_url)
Brand = []
for i in range(1,4):
    try:
        brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        # We will run a loop to iterate all the Brand tags extracted above and extract the text inside them
        for i in brand:
            Brand.append(i.text)
    except:
        Brand.append("--")
# Finding the element for Product Description using xpath
Prod_Desc = []
for i in range(1,4):
    try:
        prod_desc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
        # We will run a loop to iterate all the Product Description tags extracted above and extract the text inside them
        for i in prod_desc:
            Prod_Desc.append(i.text)
    except:
        Prod_Desc.append("--")

# Finding the element for Price using xpath
Price = []
for i in range(1,4):
    try:
        price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        # We will run a loop to iterate all the Price tags extracted above and extract the text inside them
        for i in price:
            Price.append(i.text)
    except:
        Price.append("--")

# Finding the element for Discount using xpath 
Discount = []
for i in range(1,4):
    try:
        discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
        # We will run a loop to iterate all the Discount tags extracted above and extract the text inside them
        for i in discount:
            Discount.append(i.text)
    except:
        Discount.append("--")
data={'Brand':Brand[0:100],'Description':Prod_Desc[0:100],'Price':Price[0:100],'Discount':Discount[0:100]}
df=pd.DataFrame(data)
df

,Brand,Description,Price,Discount
0,Echor,Men's Sneakers Walking Shoes - Lightweight Cla...,₹429,57% off
1,luxury fashion,Luxury Fashionable casual sneaker shoes Sneake...,₹379,87% off
2,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹474,86% off
3,Magnolia,Sneakers For Men,₹356,64% off
4,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹599,66% off
...,...,...,...,...
95,India hub,HAWK21 Sneakers For Men,₹399,80% off
96,Numenzo,Sneakers For Men,₹449,65% off
97,believe,Sneakers For Men,₹449,55% off
98,RODDICK SHOES,Raptor Sneakers For Men,₹474,52% off
99,luxury fashion,Luxury Fashionable Breathable Casual Sneakers ...,₹399,80% off

Question 9

In [92]:
#driver.close()
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")
driver.get("https://www.myntra.com/shoes")
color=driver.find_element_by_xpath("//li[@class='colour-listItem'][1]")
color.click()
driver.get(driver.current_url)
price=driver.find_element_by_xpath("//ul[@class='price-list']//li[2]")
price.click()
driver.get(driver.current_url)
urls=[driver.current_url]
pages=driver.find_elements_by_xpath("//li[@class='pagination-number']/a")
for i in pages:
    urls.append(i.get_attribute('href'))
Brands=[]
prod_des=[]
price=[]
for url in urls:
    driver.get(url)
    brands=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for brand in brands:
        Brands.append(brand.text)
    descs=driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in descs:
        prod_des.append(i.text)
    prices=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
    for i in prices:
        price.append(i.text)
data={'Brand':Brands[0:100],'Product Description':prod_des[0:100],'Price':price[0:100]}
df=pd.DataFrame(data)
df

                   Brand                Product Description             Price
0                   Puma     Men BlackTraining or Gym Shoes          Rs. 6999
1                   Puma     Men Cell Fraction Fade Running          Rs. 6999
2           Hush Puppies  Men Solid Leather Formal Slip-Ons  Rs. 8099Rs. 8999
3           Hush Puppies  Men Solid Leather Formal Slip-Ons  Rs. 8999Rs. 9999
4                   Puma          Mesh Hybrid Fuego Running          Rs. 6999
..                   ...                                ...               ...
95        Tommy Hilfiger                 Men Suede Sneakers          Rs. 7599
96  Heel & Buckle London                Women Leather Pumps  Rs. 7192Rs. 8990
97       PUMA Motorsport        Unisex Mercedes F1 Sneakers          Rs. 7999
98                  Puma       Unisex Pacer Future Sneakers          Rs. 6999
99                  Puma       Unisex Mirage Sport Trainers          Rs. 8999

[100 rows x 3 columns]

Question 10

In [94]:
driver.close()
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")
driver.get("https://www.amazon.in")
search_val=driver.find_element_by_xpath("//input[@type='text']")
search_val.send_keys("Laptop")
btn=driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
btn.click()
driver.get(driver.current_url)
cpu_type=driver.find_element_by_xpath("//li[@aria-label='Intel Core i7']/span[@class='a-list-item']")
cpu_type.click()
driver.get(driver.current_url)
cpu_type=driver.find_element_by_xpath("//li[@aria-label='Intel Core i9']/span[@class='a-list-item']")
cpu_type.click()
driver.get(driver.current_url)
titles=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
Laptops=[]
for i in titles:
    Laptops.append(i.get_attribute('href'))
Laptops=Laptops[0:10]
data=[]
for i in Laptops:
    driver.get(i)
    ratings=""
    title=""
    price=""
    try:
        ratings=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span").text
    except:
        ratings="--"
    try:
        title=driver.find_element_by_xpath("//span[@id='productTitle']").text
    except:
        title="--"
    try:
        price=driver.find_element_by_xpath("//span[@id='priceblock_ourprice']").text
    except:
        price="--"
    data.append({
        'Title':title,
        'Price':price,
        'Ratings':ratings
    })
df=pd.DataFrame(data)
df

,Title,Price,Ratings
0,HP Envy 11th Gen Core i7 Processor 13.3-inch (...,"₹1,23,350.00",4.1 out of 5
1,Mi Notebook Horizon Edition 14 Intel Core i7-1...,"₹57,990.00",4.2 out of 5
2,Lenovo IdeaPad S540 11th Gen Intel Core i7 13....,"₹77,990.00",4.3 out of 5
3,"ASUS ROG G703GI-E5148T 17.3"" (43.94 cms) FHD 1...","₹5,56,524.00",3.7 out of 5
4,"ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...",--,--
5,"ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...","₹84,990.00",3 out of 5
6,HP Pavilion 13(2021) 11th Gen Intel Core i7 La...,"₹92,990.00",5 out of 5
7,Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33....,"₹1,07,990.00",4.1 out of 5
8,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,"₹98,500.00",4.1 out of 5
9,"ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...","₹1,13,990.00",--